* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
}
nav {
  background-color: #00796b;
}
.main-header {
  width: 70%;
  margin: auto;
}
.header {
  display: flex;
  justify-content: space-between;
  height: 4vh;
  align-items: center;
}
.header-first {
  display: flex;
  justify-content: space-between;
  width: 30%;
}
.contact {
  display: flex;
  color: #fff;
  font-weight: 100;
}
.contact a {
  text-decoration: none;
  color: #fff;
}
.contact a:hover {
  text-decoration: underline;
}
.contact i {
  margin-right: 5px;
  font-size: 1.2rem;
}
.socials {
  width: 150px;
  display: flex;
  justify-content: space-between;
  color: rgba(255, 255, 255, 0.7);
}
.socials i:hover {
  color: #fff;
  transition: ease-in 0.3s;
}
.first-section {
  background-color: #008374;
  position: relative;
}
.main {
  width: 70%;
  margin: auto;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
}
.content-1 h1 {
  color: #fff;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
}
.content-1 span {
  color: #e17059;
}
.content-2 ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  width: 40vw;
  height: 60px;
}
.content-2 a {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  font-weight: 700;
  font-size: 1.2rem;
  transition: ease-in-out 0.3s;
}
.content-2 a:hover {
  color: white;
}
.main-second {
  display: flex;
  justify-content: space-around;
  align-items: start;
  height: 60vh;
  margin-top: 100px;
}
.main-second img {
  width: 35em;
}
.main-second-first {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 30vh;
  color: #fff;
  width: 50%;
}
.main-second-first h1 {
  font-size: 3rem;
  font-weight: bolder;
  margin-bottom: 20px;
}
.main-second-first p {
  color: rgba(255, 255, 255, 0.7);
  /* margin-bottom: 20px; */
}
.main-second-buttons {
  display: flex;
  justify-content: space-between;
  width: 60%;
  align-items: center;
  margin-top: 40px;
  font-weight: 700;
}
.play-button {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  cursor: pointer;
}
.play-button p {
  color: #fff;
}
.play-button i {
  margin-right: 10px;
  margin-top: 3px;
  font-size: 2.3rem;
  color: rgba(255, 255, 255, 0.5);
  transition: ease-in-out 0.3s;
}
.play-button i:hover {
  color: #fff;
}
.main-second-buttons button {
  padding: 20px 50px;
  border-radius: 30px;
  border: 1px solid rgba(19, 243, 216, 0.3);
  background-color: #1a9082;
  font-size: 1.3rem;
  color: white;
  font-weight: 500;
  cursor: pointer;
}
.main-card {
  display: flex;
  /* background-color: #008374; */
  justify-content: space-between;
  position: absolute;
  width: 70%;
  bottom: -125px;
}
.main-first-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #008d7d;
  height: 100%;
  gap: 40px;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 900;
  border-radius: 10px;
  width: 23%;
  height: 250px;
}
.main-first-card i {
  color: rgba(255, 255, 255, 0.7);
  font-size: 3rem;
}
.second-section {
  width: 70%;
  margin: auto;
}
.second-header {
  display: flex;
  flex-direction: column;
  height: 100px;
  margin-top: 250px;
  align-items: center;
}
.second-header h1 {
  font-size: 2.3rem;
}
.second-header p {
  font-size: 1.2rem;
  padding: 20px 0px;
}
.second-header-border {
  border-bottom: 5px solid #008d7d;
  padding: 10px 0px;
  width: 50px;
}
.second-main-content {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.second-content-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 900px;
  margin-top: 100px;
  width: 45%;
}
.second-content-1 h1 {
  font-size: 1.9rem;
  font-weight: bolder;
}
.second-content-1 p {
  font-size: 1.1rem;
}
.second-content-1 img {
  border-radius: 20px;
  height: 60%;
}
.second-main-paragraphs {
  display: flex;
}
.second-main-paragraphs i {
  color: #00796b;
  font-size: 1.3rem;
  margin-right: 10px;
}
.play {
  display: flex;
  background-color: #00796b;
  width: 100px;
  height: 100px;
  font-size: 3rem;
  color: #fff;
  border-radius: 50%;
  position: absolute;
  bottom: 230px;
  left: 1100px;
  transition: ease 0.5s;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.play:hover {
  transform: scale(1.5);
  background-color: rgb(1, 137, 121);
}
.logos {
  display: flex;
  justify-content: space-between;
  /* background-color: #00796b; */
  align-self: center;
  margin-top: 200px;
  margin-bottom: 200px;
}
.logos img {
  width: 9rem;
  height: 4rem;
  transition: ease 0.5s;
}
.logos img:hover {
  transform: scale(1.3);
}
.stat {
  display: flex;
  justify-content: space-between;
}
.stat-info {
  width: 50%;
}
.stat-num {
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  height: 100px;
}
.stat-num span {
  color: #00796b;
  font-size: 3rem;
  font-weight: bolder;
}
